html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 14px;
}

/* page d'accueil */
.homepage {
    background: url('../images/home_new.png') no-repeat center center fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    text-align: center;
}

/* containeur pleine page */
.full-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* page boutique */
.shop {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.card-presentation {
    display: flex;
    justify-content: center;
    width: 38%;
    padding-left: 8%;
    height: 78%;
}

.card-presentation img {
    width: 45%;
    height: 100%
}

.card-presentation-text {
    width: 45%;
    background-color: white;
    padding-top: 3%;
}

.card-presentation-text h2 {
    text-align: center;
}

.card-presentation-text p {
    padding: 31px;
    text-align: justify;
}

.content {
    display: flex;
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 9%;
}

.logo {
    width: 30%;
}

.title {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.white-background {
    background-color: #FFFFFF;
    color: #000000;
}

.grey-background {
    background-color: black;
    color: #FFFFFF;
}

.square-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.square-presentation-line {
    display: flex;
    margin-top: 10%;
}

.square-presentation h2 {
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.square-presentation-description {
    width: 70%;
    height: 50%;
    margin: 0;
}

.square-presentation img {
    width: 70%;
    height: 50%;
}

.square-presentation h2 {
    width: 70%;
}